h1{
color:red;
font-family: cursive;
}
body{
background-color: aliceblue;
}
a:visited{
    color: rgb(155, 255, 255);
} 
a:hover{
    color:rgb(19, 255, 19)
}
a:active{
    color:rgb(255, 118, 118);
}