h1{
    color:blue;
    font-family:cursive;
}
p{
    font-family: cursive;
}
a:visited{
    color: rgb(155, 255, 255);

}
a:hover{
 color:rgb(19, 255, 19)
}
a:active{
    color:rgb(255, 118, 118);
}
div.description{
    background-color:rgba(176, 35, 35,0.75);
    border-radius: 20px;
    border-style: dotted;
    border-color: rgba(255, 145, 145, 0.5);
    border-width: 5px;
    padding: 5px;
}
